#### 0. Import `numpy as np` and `pandas as pd` and print the pandas' version number

In [6]:
import numpy as np
import pandas as pd
print(pd.__version__)

0.24.1

## L1

#### 1. Crea una a partir de una lista, un array numpy y un diccionario

Input: 
```
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
```

Output (head):
```
0    a
1    b
2    c
3    e
4    d
dtype: object

0    0
1    1
2    2
3    3
4    4
dtype: int64

a    0
b    1
c    2
e    3
d    4
dtype: int64
```

In [13]:
# Inputs
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

# Solution
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

print(ser1.head())
print()
print(ser2.head())
print()
print(ser3.head())
print()

0    a
1    b
2    c
3    e
4    d
dtype: object

0    0
1    1
2    2
3    3
4    4
dtype: int64

a    0
b    1
c    2
e    3
d    4
dtype: int64

#### 2. Convierte una serie en un dataframe cuyo índice es otra columna del dataset distinta a la de la serie

Input:
```
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
```

Output (head):
```
  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4
```

In [14]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

#### 3. Combinar dos series en un dataframe

Input:
```
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
```

Output (head(10)):
```
	0	1
0	a	0
1	b	1
2	c	2
3	e	3
4	d	4
5	f	5
6	g	6
7	h	7
8	i	8
9	j	9
```

In [29]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

pd.concat([ser1, ser2], axis=1).head(10)

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4
5  f  5
6  g  6
7  h  7
8  i  8
9  j  9

#### 4. Calcular la diferencia de las diferencias entre números consecutivos de una serie

Input:
```
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
```

Output:
```
[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]
```

In [32]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

#### 5. Importar sólo las columnas `crim` y `medv` del dataset BostonHousing

Input:
```
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
```

Output (head):
```
      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2
```

In [34]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'

df = pd.read_csv(url, usecols=['crim', 'medv'])
print(df.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

#### 6.1 BostonHousing: ¿Qué fabricante, modelo y tipo tienen el precio más alto?

Input:
```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

Output:
```
Mercedes-Benz	300E	Midsize
```

In [54]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Get Manufacturer with highest price
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type', 'Price']]

     Manufacturer Model     Type  Price
58  Mercedes-Benz  300E  Midsize   61.9

#### 6.2 BostonHousing: ¿Cuál es el índice de la fila y columna de la celda con el mayor precio del paso anterior?

Input:
```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

Output:
```
58, 4
```

In [58]:
# Get Row and Column number
row, col = np.where(df.values == np.max(df.Price))
print(row[0], col[0])

58 4

#### 7. Filtra el fabricante, modelo y tipo de cada 20 filas empezando por la primera (fila 0)

Input:
```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

Output:
```
   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small
```

In [60]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

#### 8. Calcula el precio medio de cada fruta manteniendo el índice

Input:
```
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
```

Output:
```
    fruit     price
0   apple  5.333333
1  banana  8.666667
2  orange  2.666667
```

In [62]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

out = df.groupby('fruit', as_index=False)['price'].mean()
print(out)

    fruit     price
0   apple  4.000000
1  banana  4.333333
2  orange  9.000000

#### 9. Obtén los elementos que se encuentran en las filas indicadas en `list_pos`

Input:
```
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
```

Output:
```
0     a
4     e
8     i
14    o
20    u
dtype: object
```

In [63]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

## L2

#### 10. Elimina de ser1 los items de ser2

Input:
```
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
```

Output:
```
0    1
1    2
2    3
dtype: int64
```

In [23]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

#### 11. Obtener los elementos no comunes entre 2 series

Input:
```
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
```

Output:
```
0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64
```

In [25]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect

ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

#### 12. Obtener el mínimo, percentil 25, mediana, percentil 75, y máximo valor de un set

Input:
```
ser = pd.Series(np.random.normal(10, 5, 25))
```

Output:
```
array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])
```
(*) Los valores pueden variar al ser random

In [28]:
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

# Solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])